*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
}
#gt{
   width:100%;
    background-color: #dc6a8b;
   color:white;
   font-size: 30px;
  padding :10px 10px 10px 10px;
  margin-bottom: 30px;  }
.main{
    width: 100%;
    height: 100%;
}
.main table tr td{
    margin: 2vh 2vh 2 vh 2vh;
}

#tr1td1{
    background-image: url("Images/pc4.jpg");
    background-size:cover;
    width: 100vh;
    height:80vh;
    margin:10px 10px 10px 10px;
    h2{
        font-size: 60px;
        margin:0px 20px 30px 30px;
        justify-content: center;
        line-height: 80px;
    }
    }   
#tr1td2{
    background-image: url("Images/pc2.jpg");
    background-size: cover;
    width:45vh;
    height:45vh;
}
#tr1td3{
    background-image: url("Images/pc5.png");
    background-size: cover;
    width:45vh;
    height:45vh;
    margin:10px 10px 10px 10px;
}
#tr2td1{
    background-image: url("Images/pc1.jpg");
    background-size: cover;
    width:45vh;
    height:45vh;
    margin:10px 10px 10px 10px;
}
#tr2td2{
    background-image: url("Images/pc3.jpg");
    background-size: cover;
    width:45vh;
    height:45vh;
    margin:10px 10px 10px 10px;
}
.com{
    width:100%;
    height:10%;
    display: flex;
    flex-direction: row;
   background-color: pink;
}
.com1{
    margin:30px 120px 30px 120px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition:all 0.5s ease-in-out;
    
    border:4px solid black;
    background-color: white;
}

.com1:hover{
    transform: scale(1.1);
}
